* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather';
}

/* Navigation bar*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
    box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.08);
    height: 84px;
    align-items: center;
}

.logo img {
    height: 41px;
    max-width: 127.86875915527344px;
}

.links {
    display: flex;
    align-items: center;
    gap: 50px;
}

.links a {
    color: #020E35;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
}

.links a:first-child {
    border-bottom-color: #FF5678;
}

.links button {
    background-color: #020E35;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 24px 40px;
}

/* Hero section */
header {
    padding: 0px 150px;
}

.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 300px;
    padding-bottom: 200px;
    line-height: 110px;
}

.hero-text {
    width: 548px;
    height: 457px;
    gap: 56px;
}

h1 {
    font-weight: 900;
    font-size: 76px;
}

.brands {
    color: white;
    background-color: #FF5678;
    display: inline-block;
    padding: 4px;
}

#brands {
    line-height: 1;
    padding: 0px;
}

.button {
    width: 197px;
    padding: 24px 40px;
    background-color: #020E35;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 20px 40px 5px #00000040;
}

.coffee {
    border-radius: 200px;
}

/* Powered by section */
.Powered-by {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.powered-img {
    height: 508px;
    width: 592px;
    border-radius: 500px;
}

.powered-text {
    gap: 60px;
    width: 517px;
    display: flex;
    flex-direction: column;
}

.power {
    width: 517px;
}

.powered {
    font-size: 54px;
    line-height: 62px;
    margin-bottom: 42px;
}

.talent {
    height: 29px;
    background: linear-gradient(to bottom, transparent 0%, transparent 60%, #FF5678 60%, #FF5678 100%);
    padding-right: 10px;
}

.talent-txt {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 16px;
}

.talent-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    width: 100%;
}

.powered-images {
    display: flex;
    gap: 60px;
}

.watch {
    display: flex;
    border: none;
    background: transparent;
    align-self: center;
}

/* Things we enjoy */
.things-we-enjoy {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    position: relative;
}

.circle {
    position: absolute;
    top: 187px;
    bottom: -65px;
    left: -350px;
    width: 780px;
    height: 670px;
    background-color: #FFEEF6;
    border-radius: 1000px;
    z-index: -1;
}

.article-enjoy {
    display: flex;
    width: 1620px;
    flex-direction: column;
    gap: 120px;
}

.title-enjoy {
    font-size: 54px;
    width: 457px;
    line-height: 62px;
}

.title-red {
    background: linear-gradient(to bottom, transparent 0%, transparent 60%, #FF5678 0%, #FF5678 100%);
    padding-right: 10px;
}

.box-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.first-box {
    gap: 40px;
    display: flex;
}

.number {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #020E35;
    font-size: 64px;
    line-height: 72px;
    width: 70px;
}

.box-text {
    width: 421px;
}

.box-title {
    font-size: 28px;
}

.box-paragraph {
    padding-top: 20px;
    font-size: 18px;
}

#Space-box {
    padding-top: 60px;
}

/* Crafting Experience */
.craft-exp {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.craft-text {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.crafting {
    padding-top: 100px;
}

.craft {
    width: 664px;
    font-weight: 700;
    font-size: 54px;
    line-height: 72px;
    letter-spacing: 1px;
}

.craft-p {
    font-size: 18px;
    line-height: 32px;
    width: 481px;

}

.craft-img {
    width: 780px;
    height: 670px;
    border-radius: 1000px;
}

/* Meet the team*/
.meet-the-team {
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 104px;
    display: flex;
    flex-direction: column;
}

.meet-text {
    text-align: center;
    font-size: 54px;
    line-height: 72px;
}

.meet-cards {
    align-items: center;
    display: flex;
    gap: 51px;
    flex-direction: column;
}

.line-1 {
    height: 519px;
    display: grid;
    grid-template-columns: 519px 519px 519px;
    grid-template-rows: 519px 519px 519px;
    justify-items: center;
    align-items: center;
    gap: 32px;
}

.meet-card {
    display: flex;
    flex-direction: column;
    width: 519px;
    height: 519px;
    border-radius: 50px;
    padding: 71px 165px;
    gap: 60px;
    border: 1px solid #B8B8B8;
    align-items: center;
}

.portrait {
    background-color: #FFEEF6;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.card-text {
    display: flex;
    flex-direction: column;
    width: 235px;
    gap: 24px;
    text-align: center;
}

.card-name {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.card-role {
    font-size: 18px;
}

#owner {
    box-shadow: 0px 20px 40px 5px #00000026;
    width: 539px;
    height: 539px;
}

/* Our previous work section */
.previous-work {
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-previous {
    width: 536px;
    height: 44px;
    gap: 60px;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 36px;
}

.grid {
    height: 1376px;
    width: 1620px;
    gap: 32px;
    display: grid;
    grid-template-rows: 396.5px 243.5px 121px 519px;
    grid-template-columns: 519px 519px 519px;
}

.grid span {
    background: #FFEEF6;
}

.square1 {
    grid-row: 1 / 3;
}

.square2 {
    grid-row: 3/ 5;
}

.square3 {
    grid-column: 2;
    grid-row: 1 / 4;
}

.square4 {
    grid-column-end: span 2;
    grid-row: 4;
}

.square5 {
    grid-column: 3;
    grid-row: 1 / 2;
}

.square6 {
    grid-column: 3;
    grid-row: 2 / 4;
}

/*Testimonial section*/
.Testimonial {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.test-title {
    width: 369px;
    height: 128px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.test-h {
    font-weight: 700;
    font-size: 54px;
    line-height: 72px;
}

.test-p {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.test-cards {
    width: 2236px;
    gap: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.test-card {
    display: flex;
    flex-direction: column;
    width: 412px;
    height: 555px;
    border-radius: 150px;
    padding: 60px 40px;
    gap: 46px;
    align-items: center;
    border: 1px solid #949494;
}

.test-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 253px;
    height: 340px;
}


.star {
    width: 206px;
    height: 27px;
    display: flex;
    gap: 16px;
}

.avatar-test {
    background-color: #FFEEF6;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.test-text {
    text-align: center;
    width: 253px;
    height: 115px;
    font-size: 18px;
    line-height: 23px;
}

.test-info {
    width: 380px;
    height: 49px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.name-test {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

#main-test {
    width: 460px;
    height: 672px;
    justify-content: center;
}

#main-text {
    width: 380px;
    height: 92px;
}

.left-right {
    width: 1620px;
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    border: none;
    background-color: transparent;
    width: 80px;
    height: 80px;
}